@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700');
/* CSS Document */
html,body{
	padding: 0;
	margin: 0;
	font-family: "Titillium Web", sans-serif;
	color: #FFF;
	background-size: cover;
    background-attachment: fixed;
	position:relative;
    background: #2e2f2e;
}

.pageLink
{
	color:#FFF;
	text-decoration: none;
}

.currentPage
{
	color: #C63;
	text-decoration: none;
}


#content
{
	left: 50%;
	margin-left: -35%;
	width: 70%;
	position:relative;
	margin-bottom: 40;
	box-shadow: 0px 0px 20px #000;
}

#Background
{
	width: 100%;
	position: relative;
	background: #404040;
	z-index: 1;
}

#gamePics
{  
	width: 80%;
	white-space: nowrap;
	display: inline-block;
	margin-top: 40;
	position: relative;
	padding-bottom: 142%;
	margin-bottom: 30;
}

#image
{
	left: 0%;
	top:0;
	width: 100%;
	height:100%;
	background: #111;
	position:absolute;
}


#gamePics1080
{  
	width: 80%;
	white-space: nowrap;
	display: inline-block;
	margin-top: 40;
	position: relative;
	margin-bottom: 30;	;
}

#imageCollection
{
	top: 0;
	margin-bottom: 40;
	width:100%;
	display:block;
	position:relative;
}

.gameEntry
{
	text-align: center;	
}

h1
{
	font-size: 30;
}

a
{
	color:#09F;
	text-decoration: none;
}

.videoContainer 
{
	height:0;
	margin-top: 40;	
	padding-bottom: 56.25%;
	position: relative;
	margin-bottom: 40;
}

.video
{
	border: none;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


.description
{
	width: 80%;
	display:inline-block;
}

#myName
{
	margin-left: 20;
	margin-top: 20;
	height: auto;
	font-size: 40px;
	font-weight: bold;
	line-height: 40px;
	color: #0F6;
	display: inline-block;
	position:relative;
	text-transform:uppercase;
	z-index: 1;
}

#myOccupation
{
	line-height: 40px;
	height: auto;
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	text-transform:uppercase;
	position: relative;
	text-align: right;
	z-index: 1;
}

.NavList
{
	margin-right: 20;
	margin-left: 20;
	list-style: none;
	font-size: 30px;
	display: inline;
	word-break: keep-all;
	white-space:nowrap;
	//background: #399;
}

#listParent
{
	left:0;
	//background: #CF0;
	display: inline-block;

}

#siteNavigation
{
	margin-top: 40px;
	//background: #060;
	text-align:center;
}

@media screen and (max-width: 400px)
{
	#myName
	{
		font-size: 30px;
	}
	#myOccupation
	{
	    font-size: 15px;
	}	
	.NavList
	{
		margin-right: 5;
		font-size: 20px;
	}
}

@media screen and (max-width: 310px)
{
	#myName
	{
		font-size: 20px;
	}
	#myOccupation
	{
	    font-size: 10px;
	}
	.NavList
	{
		font-size: 10px;
	}
}

#navigationBarSepeartion
{
	width: 90%;
	border:solid;
	border-radius:10;
	border-width: 1;
	height: auto;
	font-weight: bold;
	display: inline-block;
	position: relative;
	z-index: 1;
}

#Copyright
{
	width: 100%;
	background: #111;
	position: relative;
	display: inline-block;
	text-align: center;
	z-index:0;
}

@keyframes fadeImageOut
{
	0%{opacity: 0;}
	50%{opacity: 1;}	
	60%{opacity: 1;}
	100%{opacity: 0;}
}

@keyframes fadeImageOutAlt
{
	0%{opacity: 0;}
	50%{opacity: 1;}
	60%{opacity: 1;}	
	100%{opacity: 0;}
}
